div.all_items_types{
	width: 600px;	
}
div.itemtype_name{
	border-top-width: 1px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-top-color: #000000;
	border-right-color: #000000;
	border-left-color: #000000;
	padding-left: 5px;
}
div.itemtype_name:hover{
	background-color: #BFD8BE;	
}
div.itemtype_name_z{
	border-bottom-width: 1px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-bottom-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-bottom-color: #000000;
	border-right-color: #000000;
	border-left-color: #000000;
	margin-bottom: 5px;
	padding-left: 25px;
}
div.itemtype_name a{
	display: block;	
}
/**************************/
div#div_mypopup{
	background-color: #FFFFFF;
	border: 1px solid #666666;
	padding: 10px;
	width: 110px;
	position:absolute;
}