ul#treeMenu{
	padding: 0;
	margin: 0;
	background-color:#FFFFFF;
	min-height: 100px;
	display: block;
	padding-left: 10px;
}
ul#treeMenu ul{
	padding: 0;
	margin: 0;
}
ul#treeMenu li{
	list-style-type:none;
	line-height: normal;
	display:block;
	/*background-color:#FF99FF;*/
	font-weight: normal;
	margin-top: 1px;
	font-size: 12px;
	padding-bottom: 2px;
	padding-top: 2px;
	/*padding-left: 15px;
	background-image: url(/images/ico/treeMenu.gif);*/
	background-repeat: no-repeat;
	background-position: left 10px;
	border-bottom-width: 1px;
	border-bottom-style:dashed;
	/*border-bottom-style: solid;*/
	border-bottom-color: #CCCCCC;
}
ul#treeMenu li:hover{
	
}
ul#treeMenu li.treeBranchActiveRoot{
	/*background-image: url(/images/ico/treeMenuActive.gif);*/
}
ul#treeMenu li a{
	color:#333333;
	text-decoration: none;
}
ul#treeMenu ul li{
	background: none;
	padding-bottom: 0px;
	padding-top: 5px;
	/*padding-left: 10px;*/
	border: none;
	font-weight: normal;
}
ul#treeMenu ul li a:hover{
	text-decoration: underline;
}
ul#treeMenu ul li a.treeBranchActive{
	color:#CE9F00;
}
ul#treeMenu img{
	
}