div.div_myitemname_popup{
	width: 500px;
	padding-bottom: 6px;
	position: absolute;
	left: 360px;
	top: 93px;
	background-image: url(../images/green/myitemname_popup/subarrow.gif);
	background-repeat: no-repeat;
	background-position: center bottom;
	height: 52px;
}
div.div_myitemname_popup_sub{
	padding-top: 5px;
	padding-left: 5px;
	height: 45px;
	border-top-width: 2px;
	border-right-width: 2px;
	border-left-width: 2px;
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-top-color: #006600;
	border-right-color: #006600;
	border-left-color: #006600;
	background-color:#FFFFFF;
	
}
div.div_myitemname_texta_sub{
	height: 40px;
	width: 280px;
	font-size: 9px;
	overflow: hidden;
}



div.dmulti{
	background-color:#FFFFFF;
	margin-top:0px;
	margin-bottom:0px;
	margin-left: 0px;
	border-right-width: 2px;
	border-bottom-width: 1px;
	border-left-width: 2px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #333333;
	border-bottom-color: #666666;
	border-left-color: #333333;
	height: 65px;
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: #333333;
	
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	padding-left: 8px;
}
div.dmulti2{
	background-color:#FEFFCA;
	margin-top:0px;
	margin-left: 0px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 2px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #333333;
	border-bottom-color: #666666;
	border-left-color: #333333;
	/*height: 0px;*/
	padding-left: 8px;
}
img.mp_skrepka{
	position:absolute;
	margin-top: -20px;
}
img.mp_skrepka2{
	position:absolute;
	margin-top: -18px;
	margin-left: 20px;
}