div#show_cssblock_bg{
	background-color: #666666;
	position: absolute;
	height: 100px;
	width: 100px;
	left: 0px;
	top: 0px;
	-moz-opacity: 0.8; /* код для движков Mozilla */
	opacity:.80;  /*свойство из спецификации CSS3, которое поддерживается не всеми браузерами*/
	filter: alpha(opacity=80); /* код для IE */
	z-index: 900;
}
div#show_cssblock_close{
	background-color: #666666;
	position: absolute;
	height: 17px;
	width: 17px;
	background-image: url(../images/green/icon_close_ucw.gif);
	cursor:pointer;
	left: 0px;
	top: 0px;
	-moz-opacity: 0.8; /* код для движков Mozilla */
	opacity:.80;  /*свойство из спецификации CSS3, которое поддерживается не всеми браузерами*/
	filter: alpha(opacity=80); /* код для IE */
	z-index:902;
}
div#show_cssblock_cont{
	background-color: #FFFFFF;
	position: absolute;
	left: 0px;
	top: 0px;
	padding: 10px;
	border: 1px solid #006600;
	overflow: auto;
	z-index:901;
}

/*  POPUP   */
div#popup_bg{
	background-color: #666666;
	position: absolute;
	height: 100px;
	width: 100px;
	left: 0px;
	top: 0px;
	-moz-opacity: 0.8; /* код для движков Mozilla */
	opacity:.80;  /*свойство из спецификации CSS3, которое поддерживается не всеми браузерами*/
	filter: alpha(opacity=80); /* код для IE */
	z-index: 900;
}
div#popup_close{
	background-color: #666666;
	position: absolute;
	height: 17px;
	width: 17px;
	background-image: url(../images/green/icon_close_ucw.gif);
	cursor:pointer;
	left: 0px;
	top: 0px;
	-moz-opacity: 0.8; /* код для движков Mozilla */
	opacity:.80;  /*свойство из спецификации CSS3, которое поддерживается не всеми браузерами*/
	filter: alpha(opacity=80); /* код для IE */
	z-index:903;
}
div#popup_cont{
	background-color: #FFFFFF;
	position: absolute;
	left: 0px;
	top: 0px;
	padding: 10px;
	border: 1px solid #006600;
	overflow: auto;
	z-index:901;
}
div#popup_title{
	background-color: #DADADA;
	position: absolute;
	border: 1px solid #006600;
	width: 100px;
	padding: 7px;
	z-index:902;
	text-transform:uppercase;
	font-weight:bold;
	text-align:center;
	transition:left .35s ease;
}
/*  /POPUP   */

h2#h2_imgeProperties{
	padding:0;
	margin:0;
	text-align:center;
	margin-bottom: 10px;
}
img#img_imageProperties{
	padding:2px;
	border: solid 2px #CCCCCC;
	width:342px;
}
#tdNext{
	cursor:pointer;
}
#tdNext:hover{
	background-color:#EBEBEB;
}
#tdPrev{
	cursor:pointer;
}
#tdPrev:hover{
	background-color:#EBEBEB;
}