#body{
	padding: 0px;
	margin: 0px;
}
#container-all{
	min-width: 1000px;
	max-width: 1000px;
	font-family: Verdana, Arial;
    font-size: 12px;
    line-height: 16px;
}
div,td,li{
    font-family: Verdana, Arial;
    font-size: 12px;
    line-height: 16px;
}
a{
	color: #003399;
	text-decoration: none;
}
a:hover{
	color: #890E0E;
	text-decoration: none;
}
h1{
	font-family: Arial, Verdana, Times, serif;
	color: #1C1C1C;
	font-size: 24px;
	font-weight: bold;
	line-height: normal;
	/* text-transform: uppercase; */
	margin: 0px;
	padding-top: 10px;
}