#loginForm_x{
	position:absolute;
	width:260px;
	padding:20px;
	top:30%;
	left:50%;
	margin-left:-130px;
 	border: 4px solid #a9c9a7;
	background-color: #FFF;
}
.menutitle{
	padding-left: 10px;
}
div.menuitem{
	transition: all .35s ease;
	padding-left: 10px;
	margin-left:10px;
}
div.menuitem:last-child{
	transition: none;
}
div.menu {
	width: 281px;
	background-position:right;
}
div.submenu{
	width: 281px;
	background-position:right bottom;
}
.menuitem:hover{
	/*background-color:#339933;
	position:absolute;
	background-color:#49A233;
	padding-left: 40px;
	margin-left:0px;
	background-image:url(/adminarea/template/images/green/leftmenuhover.png);
	background-repeat:no-repeat;
	background-position:left top;
	
}
.menuitem:hover a{
	text-shadow: 2px 2px 3px rgba(255,255,255,0.1);*/
}
.inputpreloader{
	background-image: url("/adminarea/template/images/green/preloader-01.gif");
	background-repeat:no-repeat;
	background-position:right center;
	background-size:20px 20px;
	padding-right:20px;
}
.inputok{
	background-image: url("/adminarea/template/images/green/input_ok.gif");
	background-repeat:no-repeat;
	background-position:right center;
	padding-right:20px;
}
.inputfalse{
	background-image: url("/adminarea/template/images/green/input_false.gif");
	background-repeat:no-repeat;
	background-position:right center;
	padding-right:20px;
}

.tr_fieldset>td{
	border-bottom:1px dotted #006600;
	padding-top: 5px;
}
.tr_fieldsetOpen>td{
	border-bottom:none;
	padding-top: 5px;
}


/*    change parent   */
.ulChangeParent{
	margin:0;
	padding:0;
	padding-left: 16px;
}
.ulChangeParent li{
	list-style-type:none;
	padding-top: 5px;
	padding-bottom: 5px;
}
.ulChangeParent li:first-child{
	padding-top: 10px;
}
.ulChangeParent li:last-child{
	padding-bottom: 0px;
}
/*    //change parent   */