div.itemsContent{
	float: right;
	width: 690px;
	background-color:#FFFFFF;
	padding: 0px;
	margin:0px;
}
div.itemContainer{
	width:215px;
	float:left;
	padding:0px;
	margin-right:10px;
	margin-bottom:5px;
	margin-left:0;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #333333;	/*background-color:#F2F3FD;
	border: 1px solid #DFC767;*/
}
a.itemsItemName{
	display: block;
	text-transform: uppercase;
	font-family:Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: #FFDC03;
	font-size: 12px;
	width: 215px;
}
div.cntrImage{
	
}
span.itemPrice{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: normal;
}
span.inItemPrice{
	font-size: 13px;
}
span.itemPriceOld{
	color: #666666;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	text-decoration:line-through;
	display:block;
	float:left;
	width:100px;
}
span.inItemPriceOld{
	font-size: 13px;
}
a.itemBye{
	display:block;
	text-align:center;
	width: 90px;
	height: 24px;
	padding-top: 6px;
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	background-color: #FF9C00;
	margin-bottom: 5px;
	text-decoration: none;
}
a.itemMore{
	font-size: 12px;
	background-color: #C62F32;
	height: 23px;
	padding-top: 7px;
}