.vipdiv{
	position:absolute;
	/*top: 16px;*/
	left: 0px;
	display: none;
	/*background-color:#EBEBEB;*/
	overflow: hidden;
	width: 940px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	z-index: 100;
	float:left;
}
.vipdiv ul{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
.vipdiv li{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #DDDDDD;
	padding-left: 25px;
	height: 20px;
}
.vipdiv li:hover{
	background-image: url(/images/vipmenu_point.jpg);
	background-repeat: no-repeat;
	background-position: 12px center;
	background-color:#E1E1E1;
}
.vipdiv li.vip_preloader{
	background-image: url(/images/loadinfo.net.gif);
	background-repeat: no-repeat;
	background-position: 6px center;
}
.vipdiv li a{
	color: #999999;
	text-decoration: none;
	display: block;
	padding-top: 4px;
	padding-bottom: 4px;
}
.vipdiv li a:hover{
	color: #EF2298;
}
/******************************************/
.sub_vipdiv{
	position: relative;
	width: 200px;
	background-color:#E1E1E1;
	z-index: 150;
	display: block;
	left: 150px;
	top: 0px;
	background-image:url(/images/hsubmenu_lborder.gif);
	background-repeat: no-repeat;
	background-position: left 20px;
}
.sub_vipdiv a{
	color: #999999;
	text-decoration: none;
	display: block;
	padding-top: 4px;
	padding-bottom: 4px;
	height: 12px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #DDDDDD;
	padding-left: 25px;
}